.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.hero img {
  width: 240px;
  height: auto;
}
.hero h1 {
  font-size: 64px;
  font-weight: 700;
}

.hero p {
  font-size: 24px;
}

.hero {
  background-color: #1abc9d;
  padding-top: 200px;
  padding-bottom: 96px;
}

.portfolio {
  padding: 6rem 0;
}

.portfolio h2 {
  font-size: 3rem;
  line-height: 2.5rem;
}

.portfolio img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about {
  background-color: #1abc9d;
  padding: 96px 0;
  font-size: 20px;
}
.about h2 {
  font-size: 48px;
}

.about .button buttons {
  background-color: #1abc9d;
  padding: 16px 26px;
  font-size: 20px;
}

.contact {
  padding: 5rem 0;
  font-size: 20px;
}

.contact h4 {
  font-size: 24px;
  font-weight: 700;
}

.contact a {
  color: #1abc9d;
}

footer {
  background-color: #1a252f;
  
}